<nav>
    <a href="/">Home</a>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-out">Sign Out</a>
    <a href="/user/user-homepage">User HOMEPAGE</a>
    <a href="/user/training-log">Training Log</a>
    <a href="/user/socials">Socials</a>
</nav>
