<nav>
    <a href="/"><img src="/Images/homeIcon.png"></a>
    <a href="/user/sessions"><img src="/Images/barbellIcon.png"></a>
    <a href="/user/index"><img src="/Images/groupIcon.png"></a>
    <a href="/auth/sign-out"><img src="/Images/signOutIcon.png" alt="String of words"/></a>
</nav>
