<%- include("../views/partials/header.ejs") %>
    <%- include("../views/partials/nav.ejs") %>


<h1> I'm Sorry The Page You're Trying To Access Can't Be Found</h1>



<img href="../images/weightFail.gif" alt="A GIF of a person jerking the bar and dropping it behind them, then falling over the bar"/>
<img src="../public/Images/fitnessBikes.jpg">









    </body>
    </html>