<%- include("../views/partials/header.ejs") %>
    <%- include("../views/partials/nav.ejs") %>







<div class="fourofour">

    <h1> I'm Sorry The Page You're Trying To Access Can't Be Found</h1>
    <br>
    <img src="../images/weightFail.gif" alt="A GIF of a person jerking the bar and dropping it behind them, then falling over the bar"/>
    <br>
    <h1> Come back When We've Got Good</h1>

</div>












    </body>
    </html>