<%- include("../views/partials/header.ejs") %>
    <%- include("../views/partials/nav.ejs") %>

        <h1> TRAINING</h1>
        <h2>Hello <%=user.username%></h2>
















        </body>

        </html>