<%- include("../views/partials/header.ejs") %>
    <%- include("../views/partials/nav.ejs") %>


    <h1 class="headerTitle"> USER HOMEPAGE</h1>

    <div class="flexContainer" id="userHomepage">

        <h2>Hello <%=user.username%></h2>
        
        
        <form action="/user/sessions" method="GET" class="userForm">
            <button type="submit" class="landingButton">Training</button>
        </form>
        
        <form action="/user/index" method="GET" class="userForm">
            <button type="submit" class="landingButton">Socials</button>
        </form>
        
        
        
        <!-- <form action="/auth/sign-out" method="GET" class="userForm">
            <button type="submit" class="landingButton">Sign OUT</button>
        </form> -->
    </div>

</body>
</html>