<%- include("../views/partials/header.ejs") %>
    <%- include("../views/partials/nav.ejs") %>

<body>
    <h1> USER HOMEPAGE</h1>

    <h2>Hello <%=user.username%></h2>


    <form action="/user/training-log" method="GET">
        <button type="submit">Training</button>
    </form>

    <form action="/user/socials" method="GET">
        <button type="submit">Socials</button>
    </form>



    <form action="/auth/sign-out" method="GET">
        <button type="submit">Sign OUT</button>
    </form>

</body>
</html>