*{
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    }

h1 {
    color: red;
}

.exercise .SRL {
    margin: 5px
}

.exerciseName {
    width: 200px;

    
}
.SRL {
    width: 30px;
}

.socialDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .socialDisplay td {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;

} */

.socialsDiv {
    align-content: space-evenly;
    width: 50%;
    border: 1px black solid;
    margin-top: 40px;
}

