*{
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    }

h1 {
    color: red;
}

.exercise .SRL {
    margin: 5px
}

.exerciseName {
    width: 200px;

    
}
.SRL {
    width: 30px;
}

#ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
}