<%- include("../partials/header.ejs") %>
    <%- include("../partials/nav.ejs") %>

        <h1> TRAINING</h1>
        <h2>Hello <%=user.username%>
        </h2>
        <h3>Ready to smash a workout?</h3>
       
            <div id="exerciseCont">
                <form action="/user/sessions" method="POST" class="exercise" id="trainingForm">
                    <input type="text" placeholder="Exercise Name" name="name" class="exerciseName">
                    <input type="number" placeholder="sets" name="sets" class="SRL">
                    <input type="number" placeholder="reps" name="reps"  class="SRL">
                    <input type="number" placeholder="load" name="load"  class="SRL">
                </form>
            </div>
            <button type="button" id="addSet" onclick="newExercise()">
                <h2>+</h2>
            </button>
            <button type="submit" form="trainingForm">SAVE WORKOUT</button>


        <!-- <button id="addExercise" onclick="addCard()">ADD EXERCISE</button> -->














        </body>

        </html>